<!-- /*
* Bootstrap 5
* Template Name: Furni
* Template Author: Untree.co
* Template URI: https://untree.co/
* License: https://creativecommons.org/licenses/by/3.0/
*/ -->
<!doctype html>
<html lang="en">
	<%- include ('partials/_header') -%>

	<body>

    <%- include ('partials/_navigation') -%>

		<!-- Start Hero Section -->
			<div class="hero">
				<div class="container">
					<div class="row justify-content-between">
						<div class="col-lg-5">
							<div class="intro-excerpt">
								<h1>Sepet</h1>
							</div>
						</div>
						<div class="col-lg-7">
							
						</div>
					</div>
				</div>
			</div>
		<!-- End Hero Section -->

		

		<div class="untree_co-section before-footer-section">
            <div class="container">
              <div class="row mb-5">
                <form class="col-md-12" method="post">
                  <div class="site-blocks-table">
                    <table class="table">
                      <thead>
                        <tr>
                          <th class="product-thumbnail">Görsel</th>
                          <th class="product-name">Ürün</th>
                          <th class="product-price">Fiyat</th>
                          <th class="product-quantity">Adet</th>
                          <th class="product-total">Toplam</th>
                          <th class="product-remove">Sil</th>
                        </tr>
                      </thead>
                      <tbody id="basketBody">
                        
                      </tbody>
                    </table>
                  </div>
                </form>
              </div>
        
              <div class="row">
                <div class="col-md-6">
                  <div class="row mb-5">
                    <div class="col-md-6 mb-3 mb-md-0">
                     
                      <button class="btn btn-black btn-sm btn-block" onclick="basketAll()">Sepeti Güncelle</button>

<script>
function updateCart() {
    location.reload();
}
</script>
                    </div>
                    <div class="col-md-6">
                      <p><a href="shop" class="btn btn-sm btn-outline-black">Alışverişe Devam Et</a></p>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <label class="text-black h4" for="coupon">Kupon</label>
                      <p>Kupon kodunuz varsa girin.</p>
                    </div>
                    <div class="col-md-8 mb-3 mb-md-0">
                      <input type="text" class="form-control py-3" id="coupon" placeholder="Kupon Kodu">
                    </div>
                    <div class="col-md-4">
                      <button class="btn btn-black">Kupon Uygula</button>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 pl-5">
                  <div class="row justify-content-end">
                    <div class="col-md-7">
                      <div class="row">
                        <div class="col-md-12 text-right border-bottom mb-5">
                          <h3 class="text-black h4 text-uppercase">Sepet Toplamı</h3>
                        </div>
                      </div>
                      <div class="row mb-3">
                        <div class="col-md-6">
                          <span class="text-black">Ara Toplam</span>
                        </div>
                        <div class="col-md-6 text-right">
                          <strong class="text-black">$230.00</strong>
                        </div>
                      </div>
                      <div class="row mb-5">
                        <div class="col-md-6">
                          <span class="text-black">Toplam</span>
                        </div>
                        <div class="col-md-6 text-right">
                          <strong class="text-black">$230.00</strong>
                        </div>
                      </div>
        
                      <div class="row">
                        <div class="col-md-12">
                          <a href="checkout" class="btn btn-black btn-lg py-3 btn-block">Ödeme Yap</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
		

		  <%- include ('partials/_footer') -%>


		<script src="js/bootstrap.bundle.min.js"></script>
		<script src="js/tiny-slider.js"></script>
		<script src="js/custom.js"></script>
    <script>
      document.addEventListener('DOMContentLoaded', function () {
    basketAll();
  });

      async function basketAll() {
    try {
        const response = await fetch('api/basketAll', {
            method: 'GET', 
            headers: {
                'Content-Type': 'application/json',
            },
        });

        const result = await response.json();

        if (result.success) {
            console.log('Veri çekme başarılı:', result.data);

            result.data.forEach(item => {
                console.log('Ürün Adı:', item.Carpet_type);
                console.log('Ürün Adı:', item.price);
                const row = document.createElement('tr');

                    const imageCell = document.createElement('td');
                    imageCell.className = 'product-thumbnail';
                    imageCell.innerHTML = `<img src="/images/mainproduct.png" alt="Image" class="img-fluid">`;
                    row.appendChild(imageCell);

                    const nameCell = document.createElement('td');
                    nameCell.className = 'product-name';
                    nameCell.innerHTML = `<h2 class="h5 text-black">${item.Carpet_type}</h2>`;
                    row.appendChild(nameCell);

                    const priceCell = document.createElement('td');
                    priceCell.className = 'product-price';
                    priceCell.innerHTML = `$${item.price}`;
                    row.appendChild(priceCell);

                    const pieceCell = document.createElement('td');
                    pieceCell.className = 'product-quantity';
                    pieceCell.innerHTML = `1`;
                    row.appendChild(pieceCell);

                    const totalCell = document.createElement('td');
                    totalCell.className = 'product-total';
                    totalCell.innerHTML = ``;
                    row.appendChild(totalCell);

                    const deleteCell = document.createElement('td');
                    deleteCell.className = 'product-remove';
                    deleteCell.innerHTML = `<a href="#" class="btn btn-black btn-sm">X</a>`;
                    row.appendChild(deleteCell);

                    
                    basketBody.appendChild(row);
                                });

        } else {
            console.error('Veri çekme başarısız:', result.message);
        }
    } catch (error) {
        console.error('Hata:', error);
    }
    return true;
}

      
    </script>
	</body>

</html>