<!-- /*
* Bootstrap 5
* Template Name: Furni
* Template Author: Untree.co
* Template URI: https://untree.co/
* License: https://creativecommons.org/licenses/by/3.0/
*/ -->
<!doctype html>
<html lang="en">
	<%- include ('partials/_header') -%>

	<body>

		<%- include ('partials/_navigation') -%>

		<!-- Start Hero Section -->
			<div class="hero">
				<div class="container">
					<div class="row justify-content-between">
						<div class="col-lg-5">
							<div class="intro-excerpt">
								<h1>Isparta Halıları </h1>
								<p class="mb-4">Isparta halıları, kaliteli malzemeler ve ustalıkla yapılan işçilik</p>
								<p><a href="shop" class="btn btn-secondary me-2">Hemen Satın Al </a></p>
							</div>
						</div>
						<div class="col-lg-7">
							<div class="hero-img-wrap">
								<img style="padding: 30px;" src="/images/mainproduct.png" >
							</div>
						</div>
					</div>
				</div>
			</div>
		<!-- End Hero Section -->

		<!-- Start Product Section -->
		<div class="product-section mt-5">
			<div class="container">
				<div class="row">

					<!-- Start Column 1 -->
					<div class="col-md-12 col-lg-3 mb-5 mb-lg-0">
						<h2 class="mb-4 section-title">En çok tercih edilen halı modelleri</h2>
						<p class="mb-4">Klasik Anadolu tasarımından daha modern geometrik desenlere kadar birçok farklı Türk halıları...</p>
						<p><a href="shop.html" class="btn">Daha fazla</a></p>
					</div> 
					<!-- End Column 1 -->

					<!-- Start Column 2 -->
					<div class="col-12 col-md-4 col-lg-3 mb-5 mb-md-0">
						<a class="product-item" href="cart.html">
							<img src="/images/hali3.jpg" class="img-fluid product-thumbnail">
							<h3 class="product-title">Isparta Halıları</h3>
							<strong class="product-price">$79.00</strong>

							<span class="icon-cross">
								<img src="/images/cross.svg" class="img-fluid">
							</span>
						</a>
					</div> 
					<!-- End Column 2 -->

					<!-- Start Column 3 -->
					<div class="col-12 col-md-4 col-lg-3 mb-5 mb-md-0">
						<a class="product-item" href="cart.html">
							<img src="/images/hali5.jpg" class="img-fluid product-thumbnail">
							<h3 class="product-title">Ardahan Halıları</h3>
							<strong class="product-price">$66.00</strong>

							<span class="icon-cross">
								<img src="/images/cross.svg" class="img-fluid">
							</span>
						</a>
					</div>
					<!-- End Column 3 -->

					<!-- Start Column 4 -->
					<div class="col-12 col-md-4 col-lg-3 mb-5 mb-md-0">
						<a class="product-item" href="cart.html">
							<img src="/images/hali6.jpg" class="img-fluid product-thumbnail">
							<h3 class="product-title">Kayseri Halıları</h3>
							<strong class="product-price">$43.00</strong>

							<span class="icon-cross">
								<img src="/images/cross.svg" class="img-fluid">
							</span>
						</a>
					</div>
					<!-- End Column 4 -->

				</div>
			</div>
		</div>
		<!-- End Product Section -->

		

		<!-- Start Popular Product -->
		<div class="popular-product">
			<div class="container">
				<div class="row">

					<div class="col-12 col-md-6 col-lg-4 mb-4 mb-lg-0">
						<div class="product-item-sm d-flex">
							<div class="thumbnail">
								<img src="/images/countryhali.jpg" alt="Image" class="img-fluid">
							</div>
							<div class="pt-3">
								<h3>COUNTRY STİLİ</h3>
								<p>Country dekorasyon; kırsal hayata, çiftlik yaşamına ve dolayısıyla doğaya vurgu yapıyor. Bu nedenle ...</p>
								<p><a href="#">Daha fazla</a></p>
							</div>
						</div>
					</div>

					<div class="col-12 col-md-6 col-lg-4 mb-4 mb-lg-0">
						<div class="product-item-sm d-flex">
							<div class="thumbnail">
								<img src="/images/dekorhali.jpg" alt="Image" class="img-fluid">
							</div>
							<div class="pt-3">
								<h3>EKLEKTİK STİLİ</h3>
								<p>Eklektik stilde farklı dönemlerden ve tarzlardan parçalar uyum içinde bir arada kullanılır. Örneğin klasik bir İran halısı, modern ...</p>
								<p><a href="#">Daha fazla</a></p>
							</div>
						</div>
					</div>

					<div class="col-12 col-md-6 col-lg-4 mb-4 mb-lg-0">
						<div class="product-item-sm d-flex">
							<div class="thumbnail">
								<img src="/images/retrohali.jpg" alt="Image" class="img-fluid">
							</div>
							<div class="pt-3">
								<h3>RETRO STİLİ</h3>
								<p>Retro stili, 1960 ve 1970 dönemininden ilham alır., Bu dönemde dokunmuş canlı renklere ve desenlere sahip halılar... </p>
								<p><a href="#">Daha fazla</a></p>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
		<!-- End Popular Product -->

		
		<%- include ('partials/_footer') -%>

		<script src="js/bootstrap.bundle.min.js"></script>
		<script src="js/tiny-slider.js"></script>
		<script src="js/custom.js"></script>
	</body>

</html>
